<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="stacknuts_stackgauge" frontName="stacknuts_stackgauge">
            <module name="StackNuts_StackGauge" />
        </route>
    </router>
</config>
